header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.study-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
}

#editor {
 width: 55vw;
 height: 100vh;
}

#output {
  border: solid 2px;
  width: 45vw;
  height: 94vh;
  padding: 2%;
}




